name: Deploy Backend to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publish Self-Contained Build
        run: |
          dotnet publish ./FinServe/backend/src/WebAPI/WebAPI.csproj \
            -c Release \
            -r linux-x64 \
            --self-contained true \
            -o ./output

      - name: Copy Backend to EC2 (Skip appsettings.json)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "./output/*"
          target: "/home/ec2-user/FinServeApi/"
          overwrite: true
          strip_components: 0
          excludes: |
            appsettings.json
            appsettings.Development.json
            appsettings.Production.json

      - name: Restart API service on EC2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo chown -R ec2-user:ec2-user /home/ec2-user/FinServeApi
            sudo systemctl restart finserveapi.service
            sudo systemctl status finserveapi.service --no-pager
