name: Deploy Backend to EC2

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    # PUBLISH BACKEND
    - name: Publish Backend (Self-Contained)
      run: |
        dotnet publish ./backend/src/WebAPI/WebAPI.csproj \
          -c Release \
          -o publish \
          --runtime linux-x64 \
          --self-contained true

    # CLEAN ONLY FILES INSIDE FinServeApi (not folder)
    - name: Clean old files on EC2
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo rm -rf /home/ec2-user/FinServeApi/*
          sudo mkdir -p /home/ec2-user/FinServeApi

    # COPY WITHOUT SUBFOLDER
    - name: Upload Backend Files
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        source: "./publish/."
        target: "/home/ec2-user/FinServeApi"

    # RESTART SERVICE
    - name: Restart Backend Service
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo systemctl daemon-reload
          sudo systemctl restart finserve
          sudo systemctl status finserve --no-pager
